.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--header-bg);
    z-index: 1000;
    padding: 1rem 0;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    font-family: "Bebas Neue", sans-serif;
    letter-spacing: 2px;
}

.nav-menu {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-soft);
    font-weight: 500;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.mobile-menu {
    display: none;
    justify-content: space-between;
    align-items: center;

}

.mobile-menu a {
    color: var(--primary);
    padding: 5px 15px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.mobile-menu a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: var(--primary-hover);
    right: 0;
    top: 0;
    z-index: -1;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.mobile-menu a span {
    margin-left: 5px;
    display: none;
}

.mobile-menu a:hover span {
    display: inline-block;
}

.mobile-menu a:hover {
    color: var(--text-main);
}

.mobile-menu a:hover::after {
    width: 100%;
}


.btn-reserve {
    background-color: var(--primary);
    color: var(--text-main) !important;
    padding: 0.6rem 1.4rem;
    border-radius: 50px;
    display: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.nav-menu a:not(.book-mobile, .book-desktop):hover {
    background-color: white;
    padding: 0.3rem 0.8rem;
    border-top-right-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    color: var(--primary);
}

.btn-reserve:hover {
    background-color: var(--primary-hover);
}

@media (min-width:768px) {
    .book-desktop {
        display: block;
    }
}


@media (max-width:767px) {
    .navbar .container {
        justify-content: space-around;
    }

    .book-mobile {
        display: block;
        padding: 5px 30px;
    }

    .navbar .logo {
        display: none;
    }

    .nav-menu {
        width: 100%;
        justify-content: space-between;
    }

}

@media (max-width:430px) {
    .navbar .container {
        display: revert;
    }

    .book-mobile {
        display: none;
    }

    .nav-menu {
        display: none;

    }

    .logo {
        display: none;

    }

    .mobile-menu {
        display: flex;
    }
}