/* Hero Section */
.hero .container {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 60px 0px;
}

.hero h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.hero p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    color: #a1a1a1;
}

.hero-buttons {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.hero .box-img {
    max-width: 450px;
    max-height: 450px;
}

/* Buttons */
.btn-primary,
.btn-secondary {
    color: var(--text-main);
    padding: 0.8rem 2rem;
    border-radius: 50px;
    text-decoration: none;
}

.btn-primary {
    background-color: var(--primary);
    display: inline-block;
    transition: all 0.3s;
}

.btn-secondary {
    background: transparent;
    border: 2px solid white;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 0.3s;
}

.btn-secondary:hover {
    border-color: var(--primary-hover);
    box-shadow: 0px 0px 0px 1px var(--primary), 0px 0px 25px 1px var(--primary);
}

.btn-primary:hover {
    transform: translateY(-3px);
    background-color: var(--primary-hover);

}

@media (max-width:1115px) {
    .hero {
        text-align: center;
    }

    .hero .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }


    .hero-buttons {
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .hero p {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .hero .box-img {
        max-width: 350px;
    }
}

@media (max-width:430px) {
    .hero .container {
        justify-content: start;
        padding: 0px 10px 20px;
    }
}

@media (max-width:362px) {
    .hero .box-img {
        max-width: 260px;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1rem;
    }

    .btn-secondary {
        padding: 0.8rem 1.5rem;
    }
}

/* Sections */
.section-title {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 4rem;
    color: white;
}

/* About */
.about {
    padding: 100px 0;
    text-align: center;
    background-image: url(../images/chicken-with-crushed-harissa-chickpeas-f009cb0-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: 90% -10%;

}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
    padding: 20px;
}

.about-grid .about-text {
    color: var(--text-main);
}

.about-text p:last-of-type {
    margin-bottom: 1rem;
}

.about-image img {
    border-radius: 15px;
}

@media (max-width: 768px) {

    .about-grid {
        grid-template-columns: 1fr;
    }
}

/* Why Our Restaurant */
.why-restaurant {
    text-align: center;
    padding: 100px 0px;
    background-repeat: no-repeat;
    background-position: 80% 10%;
    background-size: 50%;

}


.why-restaurant .content {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;
}

.why-restaurant .content .group-why {
    width: 280px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.why-restaurant .content .group-why:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.why-restaurant .content .group-why i {
    font-size: 40px;
    color: var(--primary);
}

/* Top Collection  */
.top-collection {
    padding: 100px 0;
    margin: 0 auto;
}

.top-collection .dishes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 30px;
    column-gap: 50px;

}

.top-collection .dishes .dishe {
    min-height: 300px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

@media (min-width:910px) {
    .top-collection .dishe:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
    }

}



/* Menu */
.menu {
    padding: 100px 0;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.menu-card {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-card .img-menu {
    height: 50%;
    padding: 10px;
}

.menu-card:hover {
    transform: translateY(-10px);
}

.menu-info {
    padding: 0px 20px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.menu-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.price {
    color: var(--primary);
    font-weight: 600;
    font-size: 1.3rem;
}

.text-center {
    text-align: center;
    margin-top: 3rem;
}


@media (max-width: 768px) {

    .nav-menu {
        gap: 1rem;
        font-size: 0.9rem;
    }
}

/* What The Say */
.the-say {
    padding: 100px 0;
}

.the-say-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
}

.the-say-grid .person {
    padding: 2rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.the-say-grid .person:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.the-say-grid .name {
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-bottom: 20px;
}

.the-say-grid .name .box-img-p {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    background-color: var(--primary);
}

.the-say-grid span {
    color: var(--primary);
    font-size: 1rem;
}