/* Reset & Base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #e47227;
    --primary-hover: #db6212;
    --header-bg: #111111;
    --text-main: #ffffff;
    --text-soft: #ffffffc9;
    --body-color: black;
    --footer-bg: #1a1a1a;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: var(--text-main);
    overflow-x: hidden;
    text-transform: capitalize;
    background-color: var(--body-color);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.orange-word {
    color: var(--primary);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.glass {
    background: rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    box-shadow: 7px 8px 2px rgb(225 225 225 / 15%), -2px -2px 2px rgb(183 183 183 / 30%);

}